
@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@400;600;700&display=swap");

@font-face {
  font-family: "HelveticaNeueLTProBd";
  src: url("https://dl.dropboxusercontent.com/s/81i4v35p6xh34zi/HelveticaNeueLTProBd.otf?dl=0") format("opentype");
}
@font-face {
  font-family: "HelveticaNeueLTPro-Lt";
  src: url("https://dl.dropboxusercontent.com/s/98wmu6pcez68jbc/HelveticaNeueLTPro-Lt.otf?dl=0") format("opentype");
}


html {
scroll-behavior: smooth;
}

* {
box-sizing: border-box;
}

@-webkit-keyframes shake {
0% {
  transform: rotate(5deg);
}
80% {
  transform: rotate(-5deg);
}
85% {
  transform: rotate(5deg);
}
95% {
  transform: rotate(-5deg);
}
100% {
  transform: rotate(0deg);
}
}

@keyframes shake {
  0% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  85% {
    transform: rotate(5deg);
  }
  95% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes rotate {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(180deg);
}
}
@keyframes rotate {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(180deg);
}
}
@-webkit-keyframes show {
from {
  opacity: 0;
}
to {
  opacity: 1;
}
}
@keyframes show {
from {
  opacity: 0;
}
to {
  opacity: 1;
}
}
@-webkit-keyframes shadow {
0% {
  opacity: 0;
  transform: scale(1);
}
50% {
  opacity: 0.4;
  transform: scale(1.3);
}
100% {
  opacity: 0;
  transform: scale(1);
}
}
@keyframes shadow {
0% {
  opacity: 0;
  transform: scale(1);
}
50% {
  opacity: 0.4;
  transform: scale(1.3);
}
100% {
  opacity: 0;
  transform: scale(1);
}
}
@-webkit-keyframes es-pulse {
0% {
  transform: scale(1);
}
70% {
  transform: scale(1.1);
}
to {
  transform: scale(1);
}
}
@keyframes es-pulse {
0% {
  transform: scale(1);
}
70% {
  transform: scale(1.1);
}
to {
  transform: scale(1);
}
}
@-webkit-keyframes es-pulse2 {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgb(240, 232, 231);

  }
  70% {
    transform: scale(1.05);
    box-shadow: 0 0 0 15px rgba(240, 232, 231, 0);

  }
  to {
    transform: scale(1);
    box-shadow: 0 0 0 rgb(240, 232, 231, 0);

  }
}

@keyframes es-pulse2 {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgb(240, 232, 231);

  }
  70% {
    transform: scale(1.05);
    box-shadow: 0 0 0 15px rgba(240, 232, 231, 0);

  }
  to {
    transform: scale(1);
    box-shadow: 0 0 0 rgb(240, 232, 231, 0);

  }
  }
@-webkit-keyframes es-pulse3 {
0% {
  transform: scale(1);
  box-shadow: 0 0 0 0 rgb(89, 25, 129);
  border-radius: 50%;
}
70% {
  transform: scale(1.05);
  box-shadow: 0 0 0 10px rgba(255, 26, 67, 0);
  border-radius: 50%;
}
to {
  transform: scale(1);
  box-shadow: 0 0 0 rgba(255, 206, 67, 0);
  border-radius: 50%;
}
}
@keyframes es-pulse3 {
0% {
  transform: scale(1);
  box-shadow: 0 0 0 0 rgb(89, 25, 129);
  border-radius: 50%;
}
70% {
  transform: scale(1.05);
  box-shadow: 0 0 0 10px rgba(255, 26, 67, 0);
  border-radius: 50%;
}
to {
  transform: scale(1);
  box-shadow: 0 0 0 rgba(255, 206, 67, 0);
  border-radius: 50%;
}
}
@-webkit-keyframes thrill {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  15% {
    -webkit-transform: scale3d(0.98, 1.15, 1);
    transform: scale3d(0.98, 1.15, 1);
  }
  20% {
    -webkit-transform: scale3d(1.1, 0.99, 1);
    transform: scale3d(1.1, 0.99, 1);
  }
  25% {
    -webkit-transform: scale3d(0.98, 1.01, 1);
    transform: scale3d(0.98, 1.01, 1);
  }
  30% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes thrill {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  15% {
    -webkit-transform: scale3d(0.98, 1.15, 1);
    transform: scale3d(0.98, 1.15, 1);
  }
  20% {
    -webkit-transform: scale3d(1.1, 0.99, 1);
    transform: scale3d(1.1, 0.99, 1);
  }
  25% {
    -webkit-transform: scale3d(0.98, 1.01, 1);
    transform: scale3d(0.98, 1.01, 1);
  }
  30% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
#es-magne-forte#es-magne-forte.es-magne-forte .es-magne-forte {
font-family: "Asap Condensed", sans-serif;
font-size: 25px;
font-weight: 300;
line-height: 1.2;
max-width: 960px;
min-width: 320px;
margin: 0 auto;
padding: 0;
overflow: hidden;
color: #000;
background: #fff;
overflow-x: hidden;
}

#es-magne-forte.es-magne-forte * {
box-sizing: border-box;
}

#es-magne-forte.es-magne-forte h1,
#es-magne-forte.es-magne-forte h2,
#es-magne-forte.es-magne-forte h3,
#es-magne-forte.es-magne-forte h4,
#es-magne-forte.es-magne-forte h5,
#es-magne-forte.es-magne-forte p {
font-family: "Asap Condensed", sans-serif;
color: #fff;
}

#es-magne-forte.es-magne-forte .es-kv {
max-width: 960px;
min-width: 320px;
margin: 0 auto;
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
}
#es-magne-forte.es-magne-forte .es-kv__upperSection{
    background-image: url(./images/kv_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#es-magne-forte.es-magne-forte .es-kv__title {
font-family: "Asap Condensed", sans-serif;
letter-spacing: 2px;
width: 100%;
text-transform: uppercase;
text-align: center;
line-height: 1.5;
font-size: 50px;
-webkit-animation: es-pulse 2s infinite;
        animation: es-pulse 2s infinite;
-webkit-animation-delay: 3s;
        animation-delay: 3s;
}

#es-magne-forte.es-magne-forte .es-kv__img {
max-width: 100%;
width: 600px;
padding: 30px;
display: flex;
justify-content: center;
align-items: center;
}
#es-magne-forte.es-magne-forte .es-kv__img img {
width: 100%;
max-width: 700px;
}
#es-magne-forte.es-magne-forte .es-kv__content {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
margin: 0 auto;
}
#es-magne-forte.es-magne-forte .es-kv__single {
display: flex;
justify-content: center;
align-items: center;
padding: 10px;
margin-bottom: 10px;
}
#es-magne-forte.es-magne-forte .es-kv__icon {
height: 60px;

}
#es-magne-forte.es-magne-forte .es-kv__text {
margin: 0 20px;
font-size: 30px;
font-family: "HelveticaNeueLTProBd", sans-serif;
font-weight: bolder;
line-height: 1;
background-color: #a2213e;
text-transform: uppercase;
min-width: 400px;
text-align: center;
padding: 15px;
}
#es-magne-forte.es-magne-forte .es-kv__text:hover{
    background-color: #c42f4f;
    transition: .2s ease-in-out;
}

#es-magne-forte.es-magne-forte .es-benefits {
max-width: 960px;
min-width: 320px;
margin: 0 auto;
background-color: #fff;
display: flex;
justify-content: center;
align-items: center;
margin-top: 50px;
padding: 40px 0;
line-height: 1;
}
#es-magne-forte.es-magne-forte .es-benefits__icon{
    max-width: 300px;
}
#es-magne-forte.es-magne-forte .es-benefits__singleCtn{
padding: 10px;
min-width: 250px;
}
#es-magne-forte.es-magne-forte .es-benefits__singleCtn--leftBorder{
    border-left: 3px solid #30346d;
    text-align: left;
    align-self: flex-end;
    position: relative;
}
#es-magne-forte.es-magne-forte .es-benefits__singleCtn--leftBorder::before{
  content: '';
  width: 360px;
  height: 2px;
  background-color: #30346d;
  position: absolute;
  top: 0;
  left: 0;
}
#es-magne-forte.es-magne-forte .es-benefits__singleCtn--rightBorder{
    border-right: 3px solid #30346d;
    text-align: right;
    align-self: flex-start;
    position: relative;
}
#es-magne-forte.es-magne-forte .es-benefits__singleCtn--rightBorder::before{
  content: '';
  width: 360px;
  height: 3px;
  background-color: #30346d;
  position: absolute;
  bottom: 0;
  right: 0;
}
#es-magne-forte.es-magne-forte .es-benefits__boldText{
    color: #a2213e;
    margin: 0;
    font-size: 24px;
    font-family: "HelveticaNeueLTProBd", sans-serif;
}
#es-magne-forte.es-magne-forte .es-benefits__text{
    color: #30346d;
    line-height: 1.2;
    margin: 0;
}

#es-magne-forte.es-magne-forte .es-ingr {
max-width: 960px;
min-width: 320px;
margin: 0 auto;
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 40px 0;
}
#es-magne-forte.es-magne-forte .es-ingr__title{
width: 100%;
text-align: center;
text-transform: uppercase;
font-size: 20px;
background-color: #a2213e;
position: relative;
}
#es-magne-forte.es-magne-forte .es-ingr__questionIcon{
  position: absolute;
  right: 40px;
  top: -40px;
  width: 130px;
  -webkit-animation: thrill 3s infinite;
  animation: thrill 3s infinite;
  -webkit-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}
#es-magne-forte.es-magne-forte .es-ingr__textContent {
width: 100%;
background-image: url(./images/bg_questions.png);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
padding: 50px 20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-bottom: 80px;
}
#es-magne-forte.es-magne-forte .es-ingr__mainQuestion{
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
#es-magne-forte.es-magne-forte .es-ing__mainAnswer{
    text-align: center;
    line-height: 1.5;
    padding: 0px 40px;
    font-size: 18px;
}
#es-magne-forte.es-magne-forte .es-ingr__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80%;
   }
#es-magne-forte.es-magne-forte .es-ingr__container {
background-color: transparent;
width: 100%;
margin: 0 auto;
height: auto;
}

#es-magne-forte.es-magne-forte .es-ingr__btn {
background: #a2213e;
color: #fff;
font-weight: bold;
font-size: 20px;
width: 100%;
padding: 10px;
cursor: pointer;
border: none;
font-family: "Asap Condensed", sans-serif;
}
#es-magne-forte.es-magne-forte .es-ingr__btn img {
width: 15px;
}
#es-magne-forte.es-magne-forte .es-ingr__box {
display: flex;
flex-direction: column;
display: none;
opacity: 0;
border: 3px solid #a2213e;
padding: 20px;

}
#es-magne-forte.es-magne-forte .es-ingr__boxText p{
    color: #30346d;
    text-align: left;
    margin: 0;
    margin-bottom: 18px;
}

#es-magne-forte.es-magne-forte .activeBtn {
display: flex;
-webkit-animation: show 2s forwards;
        animation: show 2s forwards;
}

#es-magne-forte.es-magne-forte .rotate-btn {
transform: rotate(180deg);
-webkit-animation: rotate 1s forwards;
        animation: rotate 1s forwards;
}

#es-magne-forte.es-magne-forte .es-icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
   padding: 50px 0;
}
#es-magne-forte.es-magne-forte .es-icons__single{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 40px;
    font-family: "HelveticaNeueLTProBd", sans-serif;
}
#es-magne-forte.es-magne-forte .es-icons__iconImg{
    max-width: 150px;
    animation: es-pulse 2s infinite;
}
#es-magne-forte.es-magne-forte .es-icons__iconImg--magnez{

}
#es-magne-forte.es-magne-forte .es-icons__iconImg--medicine{

}
#es-magne-forte.es-magne-forte .es-icons__iconImg--age{

}
#es-magne-forte.es-magne-forte .es-icons__boldText{
    color: #a2213e;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    font-family: "HelveticaNeueLTProBd", sans-serif;
}
#es-magne-forte.es-magne-forte .es-icons__normalText{
    color: #30346d;
    margin: 0;
}
#es-magne-forte.es-magne-forte .es-symptom{
  max-width: 960px;
  min-width: 320px;
  margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
}
#es-magne-forte.es-magne-forte .es-symptom__title{
  width: 100%;
  background-color: #a2213e;
  color: #fff;
  text-align: center;
  padding: 25px;
  font-size: 20px;
  margin: 0;
}
#es-magne-forte.es-magne-forte .es-symptom__Ctn{
  background-image: url(./images/bg_body.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% ;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
#es-magne-forte.es-magne-forte .es-symptom__subTitle{
border: 2px solid #fff;
margin: 40px;
padding: 0px 60px;
}
#es-magne-forte.es-magne-forte .es-symptom__subTitle p{
text-align: center;
line-height: 1.5;
}
#es-magne-forte.es-magne-forte .es-symptom__middle{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}
#es-magne-forte.es-magne-forte .es-symptom__body{
  max-width: 250px;
}
#es-magne-forte.es-magne-forte .es-symptom__single:hover{
  filter: brightness(1.5);
}
#es-magne-forte.es-magne-forte .es-symptom__leftCtn{
  
}
#es-magne-forte.es-magne-forte .es-symptom__rightCtn{
  text-align: right;
  
}
#es-magne-forte.es-magne-forte .es-symptom__single p{
  margin: 0;
}
#es-magne-forte.es-magne-forte .es-symptom__single, .es-symptom__single p:hover{
  transform: scale(1.05);
  transition: .5s ease-in-out;
}
#es-magne-forte.es-magne-forte .es-symptom__img{
  max-width: 300px;
  margin: 0;
}
#es-magne-forte.es-magne-forte .es-symptom__img--short{
max-width: 270px;
}
#es-magne-forte.es-magne-forte .es-symptom__single--leftOne{
  position: absolute;
  top: 210px;
  left: 19%;
}
#es-magne-forte.es-magne-forte .es-symptom__single--leftTwo{
  position: absolute;
  top: 300px;
  left: 19%;
}
#es-magne-forte.es-magne-forte .es-symptom__single--leftThree{
  position: absolute;
  top: 360px;
  left: 19%;
}
#es-magne-forte.es-magne-forte .es-symptom__single--rightOne{
  position: absolute;
  top: 170px;
  right: 18.5%;
}
#es-magne-forte.es-magne-forte .es-symptom__single--rightTwo{
  position: absolute;
  top: 230px;
  right: 18.5%;
}
#es-magne-forte.es-magne-forte .es-symptom__single--rightThree{
  position: absolute;
  top: 325px;
  right: 18.5%;
}
#es-magne-forte.es-magne-forte .es-symptom__single--rightFour{
  position: absolute;
  top: 375px;
  right: 18.5%;
}
#es-magne-forte.es-magne-forte .es-symptom__single--rightFive{
  position: absolute;
  top: 590px;
  right: 18.5%;
}
#es-magne-forte.es-magne-forte .es-cause{
    max-width: 960px;
min-width: 320px;
margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#es-magne-forte.es-magne-forte .es-cause__title{
  font-family: "Asap Condensed", sans-serif;
    width: 100%;
    background-color: #a2213e;
    color: #fff;
    text-align: center;
    padding: 25px;
    font-size: 20px;
    margin: 0;
}
#es-magne-forte.es-magne-forte .es-cause__Ctn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#es-magne-forte.es-magne-forte .es-cause__single{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    min-width: 350px;
    margin: 20px;
    min-height: 150px;
}
#es-magne-forte.es-magne-forte .es-cause__single--list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
#es-magne-forte.es-magne-forte .es-cause__icon{
    max-width: 120px;
}
#es-magne-forte.es-magne-forte .es-cause__icon:hover{
    animation: shake 2s infinite;
    animation-delay: 0s;
}
#es-magne-forte.es-magne-forte .es-cause__textCtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#es-magne-forte.es-magne-forte .es-cause__text{
    color: #30346d;
    font-size: 20px;
    margin: 0;
}
#es-magne-forte.es-magne-forte .es-cause__textList{
    color: #30346d;
}

#es-magne-forte.es-magne-forte .es-atRisk{
    max-width: 960px;
    min-width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#es-magne-forte.es-magne-forte .es-atRisk__title{
  font-family: "Asap Condensed", sans-serif;
    width: 100%;
    background-color: #a2213e;
    color: #fff;
    text-align: center;
    padding: 25px;
    font-size: 20px;
    margin: 0;
}
#es-magne-forte.es-magne-forte .es-atRisk__mainCtn{
width: 100%;
padding:40px;
background-image: url(./images/bg_stats.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#es-magne-forte.es-magne-forte .es-atRisk__dataCtn{
    display: flex;
    flex-wrap: wrap;
}
#es-magne-forte.es-magne-forte .es-atRisk__single{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    padding: 0px 40px;
    margin: 5px;
    min-width: 200px;
}
#es-magne-forte.es-magne-forte .es-atRisk__single p{
  margin: 5px;
}
#es-magne-forte.es-magne-forte .es-atRisk__single:hover{
    background-color: #fff;
    color: #a2213e;
    border: 2px solid #a2213e;
    transition: .5s ease-in-out;
}
#es-magne-forte.es-magne-forte .es-atRisk__single:hover p{
    color: #a2213e;
    transition: .5s ease-in-out;
}
#es-magne-forte.es-magne-forte .es-atRisk__percentage{
    font-size: 40px;
    margin-right: 10px;
}
#es-magne-forte.es-magne-forte .es-atRisk__gender{
    text-transform: uppercase;
}

#es-magne-forte.es-magne-forte .es-doze {
max-width: 960px;
min-width: 320px;
margin: 0 auto;
display: flex;
flex-direction: column;
background-color: #fff;
padding: 0;
}

#es-magne-forte.es-magne-forte .es-doze__content {
width: 100%;
padding: 100px 20px;
}
#es-magne-forte.es-magne-forte .es-doze__container {
background-color: transparent;
max-width: 600px;
border-radius: 5px;
margin: 0 auto;
height: auto;
}
#es-magne-forte.es-magne-forte .es-doze__btn {
background: #a2213e;
color: #fff;
font-family: "Asap Condensed", sans-serif;
font-weight: bold;
font-size: 20px;
width: 100%;
padding: 10px;
cursor: pointer;
border: none;
}
#es-magne-forte.es-magne-forte .es-doze__btn img {
width: 15px;
}
#es-magne-forte.es-magne-forte .es-doze__box {
display: flex;
flex-direction: column;
display: none;
border: 3px solid #a2213e;
padding: 20px;
}
#es-magne-forte.es-magne-forte .es-doze__single {
padding: 5px 30px;
font-size: 20px;
}
#es-magne-forte.es-magne-forte .es-doze__text{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    font-weight: bold;
}
#es-magne-forte.es-magne-forte .es-doze__textCtn{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-size: 18px;
}
#es-magne-forte.es-magne-forte .es-doze__text p{
color: #30346d;
margin: 5px;
line-height: 1.2;
min-width: 210px;

}
#es-magne-forte.es-magne-forte .es-doze__text--small{
font-size: 14px;
margin: 0;
}
#es-magne-forte.es-magne-forte .es-doze__line{
    width: 80%;
    height: 3px;
    margin: 0 auto;
    background-color: #a2213e;
}
#es-magne-forte.es-magne-forte .es-doze .activeBtn {
display: flex;
}
#es-magne-forte.es-magne-forte .es-doze .rotate-btn {
transform: rotate(180deg);
}

#es-magne-forte.es-magne-forte .es-cross {
max-width: 960px;
min-width: 320px;
margin: 0 auto;
display: flex;
flex-direction: column;
align-items: flex-end;
background-image: url(./images/bg_packshots_13.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
#es-magne-forte.es-magne-forte .es-cross_title{
  font-family: "Asap Condensed", sans-serif;
    max-width: 960px;
min-width: 320px;
    width: 100%;
    margin: 0 auto;
    background-color: #a2213e;
    text-align: center;
    margin-bottom: 0;
    padding: 3px;
    font-weight: bold;
    font-size: 18px;
}
#es-magne-forte.es-magne-forte .es-cross_title--second{
    background-color: #00b1ba;
   
}
#es-magne-forte.es-magne-forte .es-cross__main {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
margin: 0 auto;
padding-top: 40px;
}
#es-magne-forte.es-magne-forte .es-cross__secondary {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
margin: 0 auto;
margin-top: 50px;
}
#es-magne-forte.es-magne-forte .es-cross__single {
padding: 30px;
max-width: 290px;
}

#es-magne-forte.es-magne-forte .es-cross__img {
width: 100%;
position: relative;
margin-bottom: 20px;
}
#es-magne-forte.es-magne-forte .es-cross__img img {
max-width: 100%;
}
#es-magne-forte.es-magne-forte .es-cross__icon {
position: absolute;
top: -10%;
right: -15%;
width: 70px;
-webkit-animation: es-pulse 2s infinite;
        animation: es-pulse 2s infinite;
}
#es-magne-forte.es-magne-forte .es-cross__newnessBadge{
  position: absolute;
  top: -60%;
  right: -35%;
}
#es-magne-forte.es-magne-forte .es-cross__badgeText{
  color: #a2213e;
  background-color: #fff;
  padding: 5px 20px;
  font-size: 20px;
  font-family: "HelveticaNeueLTProBd", sans-serif;
}
#es-magne-forte.es-magne-forte .es-cross__content {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 0 auto;
}
#es-magne-forte.es-magne-forte .es-cross__name {
color: #fff;
font-size: 14px;
font-weight: normal;
margin: 20px 0;
font-family: "HelveticaNeueLTProBd", sans-serif;
}

#es-magne-forte.es-magne-forte .es-cross__link {
text-decoration: none;
font-family: "Asap Condensed", sans-serif;
font-size: 20px;
font-weight: bold;
background: #a2213e;
padding: 5px 40px;
border-radius: 50px;
border: 3px solid #fff;
position: relative;
color: #fff;
margin-top: 20px;
-webkit-animation: es-pulse2 2s infinite;
        animation: es-pulse2 2s infinite;
}
#es-magne-forte.es-magne-forte .es-cross__link:visited{
color: #fff;
}

#es-magne-forte.es-magne-forte .es-cross__link:hover {
filter: contrast(1.5);
color: #fff;
}

#es-magne-forte.es-magne-forte .es-footer {
max-width: 960px;
min-width: 320px;
margin: 0 auto;
padding: 40px 0;
display: flex;
flex-direction: column;
background-color: #fff;
color: #30346d;
}
#es-magne-forte.es-magne-forte .es-footer__single {
font-size: 12px;
color: #30346d;
margin: 0 30px;
position: relative;
border-top: 2px solid rgba(255, 255, 255, 0.5);
text-align: justify;
}
#es-magne-forte.es-magne-forte .es-footer__single p{
color: #30346d;
}
#es-magne-forte.es-magne-forte .es-footer__single--logo {
text-transform: uppercase;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 20px;
border-top: none;
}
#es-magne-forte.es-magne-forte .es-footer__single--last {
font-size: 16px;
text-align: center;
}
@media screen and (max-width: 935px){
  #es-magne-forte.es-magne-forte .es-symptom__single--leftOne{
    position: absolute;
    top: 210px;
    left: 17.5%;
  }
  #es-magne-forte.es-magne-forte .es-symptom__single--leftTwo{
    position: absolute;
    top: 300px;
    left: 17.5%;
  }
  #es-magne-forte.es-magne-forte .es-symptom__single--leftThree{
    position: absolute;
    top: 360px;
    left: 17.5%;
  }
  #es-magne-forte.es-magne-forte .es-symptom__single--rightOne{
    position: absolute;
    top: 170px;
    right: 17.5%;
  }
  #es-magne-forte.es-magne-forte .es-symptom__single--rightTwo{
    position: absolute;
    top: 230px;
    right: 17.5%;
  }
  #es-magne-forte.es-magne-forte .es-symptom__single--rightThree{
    position: absolute;
    top: 325px;
    right: 17.5%;
  }
  #es-magne-forte.es-magne-forte .es-symptom__single--rightFour{
    position: absolute;
    top: 380px;
    right: 17.5%;
  }
  #es-magne-forte.es-magne-forte .es-symptom__single--rightFive{
    position: absolute;
    top: 590px;
    right: 18.5%;
  }
}
@media screen and (max-width: 900px){
  #es-magne-forte.es-magne-forte .es-symptom__img{
    display: none;
   }
}
@media screen and (max-width: 840px){
  #es-magne-forte.es-magne-forte .es-benefits__singleCtn--rightBorder::before{
    display: none;
  }
  #es-magne-forte.es-magne-forte .es-benefits__singleCtn--leftBorder::before{
    display: none;
  }
}
@media screen and (max-width: 769px) {
#es-magne-forte.es-magne-forte .es-kv__upperSection{
    background-size: cover;
}
#es-magne-forte.es-magne-forte .es-benefits__icon{
  max-width: 200px;
}
#es-magne-forte.es-magne-forte .es-benefits__singleCtn{
  min-width: 180px;
  }
#es-magne-forte.es-magne-forte .es-doze__images {
  flex-wrap: wrap-reverse;
}
#es-magne-forte.es-magne-forte .es-doze__icon {
  position: static;
  padding: 40px 20px;
}
}
@media screen and (max-width: 561px) {
#es-magne-forte.es-magne-forte .es-ingr__questionIcon{
  width: 80px;
  right: 0;
}
#es-magne-forte.es-magne-forte .es-kv__title {
  font-size: 30px;
  text-align: center;
}
#es-magne-forte.es-magne-forte .es-kv__content {
  display: flex;
  flex-direction: column;
}
#es-magne-forte.es-magne-forte .es-kv__single {
  justify-content: center;
  align-items: center;
  padding: 20px;
}
#es-magne-forte.es-magne-forte .es-kv__icon {
  height: 40px;
  
  }
#es-magne-forte.es-magne-forte .es-kv__text {
  text-align: center;
  font-size: 16px;
  min-width: 220px;
}

#es-magne-forte.es-magne-forte .es-benefits{
  flex-wrap: wrap-reverse;
}
#es-magne-forte.es-magne-forte .es-benefits__singleCtn{
  min-width: 300px;
  }
  #es-magne-forte.es-magne-forte .es-benefits__icon{
    max-width: 300px;
  }
#es-magne-forte.es-magne-forte .es-benefits__singleCtn--leftBorder{
  border-left: none;
}
#es-magne-forte.es-magne-forte .es-benefits__singleCtn--rightBorder{
  border-right: none;
}
}
@media screen and (max-width: 426px){
  #es-magne-forte.es-magne-forte .es-symptom__img{
   display: none;
  }
  #es-magne-forte.es-magne-forte .es-symptom__single p{
    font-size: 12px;
  }
  #es-magne-forte.es-magne-forte .es-symptom__single--leftOne{
    position: absolute;
    top: 350px;
    left: 8.5%;
  }
  #es-magne-forte.es-magne-forte .es-symptom__single--leftTwo{
    position: absolute;
    top: 420px;
    left: 8.5%;
  }
  #es-magne-forte.es-magne-forte .es-symptom__single--leftThree{
    position: absolute;
    top: 520px;
    left: 8.5%;
  }
  #es-magne-forte.es-magne-forte .es-symptom__single--rightOne{
    position: absolute;
    top: 270px;
    right: 8.5%;
  }
  #es-magne-forte.es-magne-forte .es-symptom__single--rightTwo{
    position: absolute;
    top: 330px;
    right: 8.5%;
  }
  #es-magne-forte.es-magne-forte .es-symptom__single--rightThree{
    position: absolute;
    top: 445px;
    right: 8.5%;
  }
  #es-magne-forte.es-magne-forte .es-symptom__single--rightFour{
    position: absolute;
    top: 535px;
    right: 8.5%;
  }
  #es-magne-forte.es-magne-forte .es-symptom__single--rightFive{
    position: absolute;
    top: 750px;
    right: 8.5%;
  }
  #es-magne-forte.es-magne-forte .es-cross__newnessBadge{
    right: 0;
    top:-50%;
  }
  #es-magne-forte.es-magne-forte .es-cause__single{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}



/*# sourceMappingURL=style.css.map */
